body {
  text-align: center;
  background-image: url("images/background.jpg");
}

h1 {
  font-size: 7rem;
  color: #000000;
  font-family: "New Rocker", cursive;
  text-shadow: 3px 0 #DBEDF3;
  padding-top: 100px;
}

.w {
background-image:url("images/tom1.png");
}

.a {
background-image:url("images/tom2.png");
}

.s {
background-image:url("images/tom3.png");
}

.d {
background-image:url("images/tom4.png");
}

.j {
background-image:url("images/crash.png");
}

.k {
background-image:url("images/snare.png");
}

.l {
background-image:url("images/kick.png");
}

.set {
  margin: 120px auto 100px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #cbbad4;
  font-size: 5rem;
  font-family: "New Rocker", cursive;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.drum:hover {border-color: #c2a1d4;}

.option {
  font-size: 3rem;
  font-family: "New Rocker", cursive;
  font-weight: 900;
  color: #000000;
  display: inline-block;
  width: 250px;
  height: 100px;
  text-align: center;
  background-color: #7d1943;
  border: none;
  margin: 30px;
  border: 10px solid #7d1943;
  border-radius: 15px;

}

.option:hover {border-color: #823354;}

/*Made by Cybero*/
